{% extends 'base.html' %}
{% load static %}

{% block title %}Impetus Electricity Bill Dashboard{% endblock title %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                {% if user.is_authenticated %}
                <button class="btn-primary" onclick="openForm()" type="submit">Add New</button>
          <div class="popup" id="myForm">
            <div class="modal-content">
              <span class="close" onclick="closeForm()">&times;</span>
              <h1 class="popup-signin-account" style="text-align: center;">Add New Occupant</h1>
              <form action="" method="POST" enctype="multipart/form-data class="popup-formsignIn">
                {% csrf_token %}
                {% include 'form.html' with form=form %}
                <div class="popup-btn2">
                  <input type="submit" class="popup-btn-signin" value="Add">
                </div>
              </form>
            </div>
          </div>
          {% endif %}
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <table class="table table-hover table-sm">
            <thead>
              <tr>
                <th scope="col">Occupant Name</th>
                <th scope="col">Floor</th>
                <th scope="col">Unit</th>
              </tr>
            </thead>
            <tbody>
                {% if unit %}
                {% for unit in unit %}
                <tr>
                    <td>{{ unit.occupant_id }}</td>
                    <td>{{ unit.floor_id }}</td>
                    <td>{{ unit.unit }}</td>
                </tr>
                {% endfor %}
                {% else %}
                
                {% endif %}
            </tbody>
          </table>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

{% endblock %}